[build]
  command = """
    npm install -g grunt-cli sass &&
    npm install &&
    pip install -r requirements.txt &&
    grunt build
  """
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true

[build.environment]
  NODE_VERSION = "18"
  PYTHON_VERSION = "3.11"
