// =============================================================================
// Self-hosted Fonts
// =============================================================================
// Fonts are hosted locally for better performance (eliminates render-blocking
// external requests) and privacy (no third-party tracking).

// -----------------------------------------------------------------------------
// Source Serif 4 - Primary body/article font (serif)
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Source Serif 4';
  src: url('/assets/fonts/source-serif-4/source-serif-4-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/assets/fonts/source-serif-4/source-serif-4-latin-ext-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/assets/fonts/source-serif-4/source-serif-4-latin-400-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/assets/fonts/source-serif-4/source-serif-4-latin-ext-400-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/assets/fonts/source-serif-4/source-serif-4-latin-600-normal.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/assets/fonts/source-serif-4/source-serif-4-latin-ext-600-normal.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

// -----------------------------------------------------------------------------
// Montserrat - UI font (sans-serif)
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/montserrat-latin-300-normal.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/montserrat-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/montserrat-latin-500-normal.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/montserrat-latin-600-normal.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/montserrat-latin-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// -----------------------------------------------------------------------------
// Cinzel Decorative - Display/heading font
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Cinzel Decorative';
  src: url('/assets/fonts/cinzel-decorative/cinzel-decorative-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('/assets/fonts/cinzel-decorative/cinzel-decorative-latin-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('/assets/fonts/cinzel-decorative/cinzel-decorative-latin-900-normal.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// -----------------------------------------------------------------------------
// Font Awesome 6 - Icons
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Font Awesome 6 Free';
  src: url('/assets/fonts/fontawesome/fa-solid-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Font Awesome 6 Free';
  src: url('/assets/fonts/fontawesome/fa-regular-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Font Awesome 6 Brands';
  src: url('/assets/fonts/fontawesome/fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

// -----------------------------------------------------------------------------
// Font Awesome CSS classes (minimal subset)
// -----------------------------------------------------------------------------
.fa,
.fas,
.fa-solid {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.far,
.fa-regular {
  font-family: 'Font Awesome 6 Free';
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fab,
.fa-brands {
  font-family: 'Font Awesome 6 Brands';
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Common icon codes (add more as needed)
.fa-sun::before { content: '\f185'; }
.fa-moon::before { content: '\f186'; }
.fa-bars::before { content: '\f0c9'; }
.fa-times::before { content: '\f00d'; }
.fa-xmark::before { content: '\f00d'; }
.fa-chevron-left::before { content: '\f053'; }
.fa-chevron-right::before { content: '\f054'; }
.fa-chevron-up::before { content: '\f077'; }
.fa-chevron-down::before { content: '\f078'; }
.fa-arrow-left::before { content: '\f060'; }
.fa-arrow-right::before { content: '\f061'; }
.fa-search::before { content: '\f002'; }
.fa-magnifying-glass::before { content: '\f002'; }
.fa-envelope::before { content: '\f0e0'; }
.fa-phone::before { content: '\f095'; }
.fa-home::before { content: '\f015'; }
.fa-house::before { content: '\f015'; }
.fa-user::before { content: '\f007'; }
.fa-globe::before { content: '\f0ac'; }
.fa-link::before { content: '\f0c1'; }
.fa-external-link::before { content: '\f08e'; }
.fa-external-link-alt::before { content: '\f35d'; }
.fa-arrow-up-right-from-square::before { content: '\f08e'; }

// Brand icons
.fa-github::before { content: '\f09b'; }
.fa-linkedin::before { content: '\f0e1'; }
.fa-linkedin-in::before { content: '\f0e1'; }
.fa-twitter::before { content: '\f099'; }
.fa-x-twitter::before { content: '\e61b'; }
.fa-facebook::before { content: '\f09a'; }
.fa-facebook-f::before { content: '\f39e'; }
.fa-instagram::before { content: '\f16d'; }
.fa-youtube::before { content: '\f167'; }

